.counter {
  min-height: 30dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.counter h1 {
  font-size: 3rem;
}

.counter p {
  font-size: 1.5rem;
}

.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.btns button {
  font-size: 1rem;
  cursor: pointer;

  padding: 0.5rem 1rem;
  width: 120px;

  border: none;
  border-radius: 0.25rem;

  background-color: #f1f1f1;
}
