.explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ol__explanation {
  list-style: none;

  width: 100%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  gap: .6rem;
}

.li__explanation {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.li__explanation img {
  width: 100%;
  height: auto;
}
