.show-text {
  max-width: 600px;
  margin: 2rem auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  text-align: center;

  border: 1px solid #ccc;
  border-radius: 8px;

  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  animation: fadeIn 0.5s ease-out;
}

.show-text h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.show-text button {
  cursor: pointer;
  padding: 10px 20px;

  font-size: 16px;

  border: none;
  border-radius: 5px;

  color: #fff;
  background-color: #007bff;
  transition: background-color 0.3s ease;
}

.show-text button:hover {
  background-color: #0056b3;
}

.show-text p {
  font-size: 18px;
  color: #0066ff;
}

.show-text p.visible {
  animation: fadeInExpand .3s ease-out forwards;
}

@keyframes fadeInExpand {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
